{% extends 'base.html.twig' %}

{% block title %}Hello world ! - Yjulien {% endblock %}

{% block body %}
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">Yjulien</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Portfolio</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">A propos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="assets/img/avatar.png" alt="avatar julien" />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Julien YVON</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Développeur Fullstack</p>
                <p class="mb-4">Je suis un développeur web et web mobile passionné et motivé, diplômé de l'école O'clock (promotion Einstein). J'ai obtenu mon titre professionnel, équivalent à un bac+2, en développement web et mobile. Je suis également un grand fan de l'univers digital et j'adore découvrir de nouvelles technologies et tendances.</p>

            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5">
                       <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com --></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/Cityconnect.png" alt="Preview de City-Connect">
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/tripoadvisor.png" alt="Preview de Trip-O-Dvisor" />
                        </div>
                    </div>
                    <!-- Portfolio Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/wireframes.png" alt="Wireframme O'delice" />
                        </div>
                    </div>
                    <!-- Portfolio Item 4-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/todolist.png" alt="Todolist" />
                        </div>
                    </div>
                    <!-- Portfolio Item 5-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                       <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5" style="height: 88%;">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> Font Awesome fontawesome.com --></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/O'flix.png" alt="Preview O'flix">
                        </div>
                    </div>
                    <!-- Portfolio Item 6-->
                    <div class="col-md-6 col-lg-4">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/img/portfolio/Oquestion.png" alt="FAQ O'Question" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">A propos</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="lg-4 ms-auto"><p class="lead">Je suis un développeur passionné par le digital et j'adore travailler sur des projets innovants qui permettent de créer de nouvelles expériences pour les utilisateurs. Mon expérience en PHP, en particulier avec Symfony et Laravel, me permet de développer des sites web et des applications de manière efficace et fiable.</br>
                    </br>
                    En plus de mon expertise en PHP, j'ai également une solide connaissance du CSS et du JavaScript, ce qui me permet de développer des interfaces utilisateur attrayantes et intuitives. Je suis toujours à la recherche de nouvelles façons de m'améliorer et de me mettre à jour sur les dernières technologies et tendances du développement web.</br>
                    </br>
                    Si vous cherchez un développeur passionné et déterminé à réussir, n'hésitez pas à me contacter. Je suis persuadé que je pourrai apporter une valeur ajoutée à votre projet et contribuer à son succès.</p></div>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                </section>
                <!-- CV Button-->
                {# <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="#">
                        <i class="fas fa-download me-2"></i>
                       Mon CV
                    </a>
                </div> #}
            </div>

        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">
                            France,
                            <br/>
                            full remote
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Retrouvez moi </h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/Yjulien"><i class="fab fa-fw fa-github"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/Juliennovy"><i class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/julienyvon/"><i class="fab fa-fw fa-linkedin-in"></i></a>
    
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Je suis à la recherche</h4>
                        <p class="lead mb-0">
                        Je suis actuellement à la recherche d'une alternance en tant que concepteur d'application web. Je suis ouvert à d'autres propositions qui me permettront de développer mes compétences et de découvrir de nouvelles technologies. Si vous avez un poste à pourvoir, n'hésitez pas à me contacter ;)
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">City-Connect</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/Cityconnect.png" alt="Preview City Connect" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Notre site internet permet aux habitants de la ville de soumettre des remarques et suggestions à leur mairie de manière simple et rapide. Grâce à notre système de doléance en ligne, les citoyens peuvent facilement envoyer leurs idées et leurs préoccupations à leurs représentants municipaux.</p>

                                    <p class="mb-4">En utilisant notre site, les habitants peuvent également être informés des événements et des activités organisées par la ville. Nous publions régulièrement des nouvelles et des mises à jour sur les activités culturelles, les manifestations sportives et les autres événements de la ville. Nous proposons également un calendrier en ligne qui permet aux habitants de planifier leurs activités en connaissant les dates et les lieux des événements à venir.</p>

                                    <p class="mb-4">En utilisant notre site, les habitants peuvent rester informés et participatifs dans la vie de leur commune. Nous espérons que cet outil sera utile pour renforcer la communication entre les citoyens et leurs élus municipaux et pour améliorer la qualité de vie dans notre ville.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Trip'O'advisor</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/tripoadvisor.png" alt="Tripoadvisor" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Trip O'dvisor est un projet que j'ai réalisé durant ma formation. Il reprend le principe de Tripadvisor, en proposant une plateforme de avis et de recommandations pour les voyageurs. Mon objectif était de dynamiser le site et de proposer une expérience utilisateur unique.</p>

                                    <p class="mb-4">Pour atteindre cet objectif, j'ai mis en place plusieurs fonctionnalités. Tout d'abord, j'ai créé un système de newsletter dynamique pour permettre aux utilisateurs de recevoir des recommandations de voyage personnalisées. J'ai également proposé différents thèmes pour personnaliser l'apparence du site et l'expérience utilisateur. Enfin, j'ai ajouté un carroussel d'images pour mettre en avant les destinations recommandées.</p>

                                    <p class="mb-4">Langages : JavaScript, html et css</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Fermer 
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">O'Delice</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/wireframes.png" alt="Wireframes O'Delice" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">Le wireframe que je vous présente a été réalisé dans le cadre d'un projet de développement web. Il s'agit d'une maquette simplifiée qui permet de visualiser l'agencement des éléments sur une page web.</p>

                                    <p class="mb-4">Le wireframe que je vous présente a été conçu pour être le plus simple et le plus clair possible. Il permet de se concentrer sur l'essentiel et d'éviter de se perdre dans les détails. Grâce à ce wireframe, j'ai pu avoir une vue d'ensemble du projet et définir les fonctionnalités clés de la page.</p>

                                    <p class="mb-4">En utilisant ce wireframe, j'ai pu rapidement tester différentes idées et iterations, ce qui m'a permis d'optimiser l'expérience utilisateur finale.</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Todo List</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/todolist.png" alt="Todo list" />
                                    <!-- Portfolio Modal - Text-->
                                   <p class="mb-4">Le projet de Todolist que je vous présente dans mon portfolio a été réalisé dans le cadre de ma formation en développement web. Il s'agit d'une application permettant de gérer ses tâches quotidiennes de manière simple et intuitive.</p>

                                    <p class="mb-4">Ce projet m'a permis de mieux comprendre le principe du DOM (Document Object Model), qui est une interface de programmation pour les documents HTML et XML. J'ai appris à manipuler le DOM en JavaScript pour ajouter, supprimer et modifier des éléments dans une page web.</p>

                                    <p class="mb-4">Grâce à ce projet, j'ai pu acquérir de solides compétences et j'ai pu mettre en pratique mes connaissances en HTML, CSS et JavaScript. </p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">O'Flix</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/O'flix.png" alt="O'flix" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">O'flix est un projet de site de notation et d'avis pour les films et séries. Il a été développé en utilisant le framework Symfony 5.4.</p>

                                    <p class="mb-4">Le projet O'flix m'a permis de manipuler une API pour récupérer les informations sur les films et séries, ainsi que les affiches associées. J'ai également utilisé des fixtures avant de disposer de l'API pour pouvoir travailler sur le développement du site.</p>

                                    <p class="mb-4">J'ai également mis en place une gestion des utilisateurs et des commentaires en utilisant une base de données MySQL et son fork MariaDB.</p>

                                    <p class="mb-4">Langages et technologies : Php et Symfony, MySQL (mariaDB)</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">FAQ O'Question</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="assets/img/portfolio/Oquestion.png" alt="FAQ preview" />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">O'Question est un projet de site de FAQ. Il permet aux utilisateurs de poser des questions et de répondre aux questions des autres utilisateurs.</p>

                                    <p class="mb-4">Le projet O'Question m'a permis de mettre en place un système d'archivage des questions et de balises pour indiquer si une question est en attente de réponse ou si elle a déjà été répondue. J'ai également développé la gestion des utilisateurs et le traitement des questions via une base de données.</p>

                                    <p class="mb-4">Langages et technologies : Php et Symfony, mySQL (mariaDB)</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
{% endblock %}
